DATABASE_URL=''
NUXT_UPLOADTHING_TOKEN=''
AUTH_SECRET=''
VITE_GOOGLE_MAPS_API_KEY=''
VITE_GOOGLE_CLIENT_ID=''
# VITE_GOOGLE_CLIENT_SECRET=''
AUTH_ORIGIN='http://localhost:3000/auth'
VITE_SENDGRID_API_KEY=''
JWT_SECRET=''
VITE_STRIPE_PUBLISHABLE_KEY=''
VITE_STRIPE_SECRET_KEY=''
# VITE_STRIPE_PUBLISHABLE_KEY=''
# VITE_STRIPE_SECRET_KEY=''

# Cielo Payment Gateway
CIELO_MERCHANT_ID=""
CIELO_MERCHANT_KEY=""
CIELO_SANDBOX="true" # Set to false for production